<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Registration)}"/>

    <span sec:authorize="isAuthenticated()">Авторизация прошла успешно!</span>

    <div class="col-md-6" sec:authorize="isAnonymous()">
    <h3>Регистрация</h3>
    <form method="POST" th:action="@{/registration/confirm}">
        <div class="form-group col-md-6">
            <label for="nameInput">Логин</label>
            <input required class="form-control" name="login" type="text" id="nameInput"
                   placeholder="Введите имя пользователя">
        </div>
        <div class="form-group col-md-6">
            <label for="passwordInput">Пароль</label>
            <input required class="form-control" name="password" type="password" id="passwordInput"
                   placeholder="Введите пароль">
        </div>
        <div class="form-group col-md-6">
            <label for="passwordRepeatInput">Повтор пароля</label>
            <input required class="form-control" name="password_repeat" type="password" id="passwordRepeatInput"
                   placeholder="Повторите пароль">
        </div>
        <div class="form-group col-md-6">
            <label for="emailInput">Электронная почта</label>
            <input required class="form-control" name="email" type="email" id="emailInput"
                   placeholder="Введите электронную почту">
        </div>
        <button class="btn btn-success" type="submit">Подтвердить</button>
    </form>
</div>
</div>

</body>
</html>